/* Footer düzenlemesi */
.contact-container {
  background-color: rgba(6,78,58,255); /* Koyu yeşil */
  color: white;
  padding: 20px;
  
  text-align: left;
  
  
  margin: auto;
  margin: 0px -95px ;
}





